---

---

<section
  class="flex flex-col justify-center items-center h-full w-screen my-62"
>
  <h1
    id="about-me"
    data-aos="fade-bottom"
    data-aos-delay="200"
    class="text-4xl font-bold"
  >
    About Me
  </h1>
  <div class="flex flex-col gap-4 w-[75%] justify-center items-center">
    <div class="flex flex-row justify-center items-center gap-8 w-[60%] py-8">
      <div data-aos="fade-right" data-aos-delay="200">
        <p class="text-5xl font-bold">2023</p>
      </div>
      <div data-aos="fade-left" data-aos-delay="200">
        <p class="text-lg font-medium text-balance">
          I'm a hands-on independent designer who collaborates across industries
          to uncover opportunities and shape impactful digital experiences.
          Let's work together!
        </p>
      </div>
    </div>
    <div
      data-aos="fade-bottom"
      data-aos-delay="400"
      class="h-[70px] w-[1px] bg-black rounded-full"
    >
    </div>
    <div class="flex flex-row justify-center items-center gap-8 w-[60%] py-8">
      <div data-aos="fade-right" data-aos-delay="200">
        <p class="text-5xl font-bold">2024</p>
      </div>
      <div data-aos="fade-left" data-aos-delay="200">
        <p class="text-lg font-medium text-balance">
          I completed Google's UX Design Professional Certificate, gaining
          comprehensive skills in user experience design and research
          methodologies.
        </p>
      </div>
    </div>
    <div
      data-aos="fade-bottom"
      data-aos-delay="600"
      class="h-[70px] w-[1px] bg-black rounded-full"
    >
    </div>
    <div class="flex flex-row justify-center items-center gap-8 w-[60%] py-8">
      <div
        data-aos="fade-right"
        data-aos-delay="200"
        class="flex flex-col justify-center items-center"
      >
        <p class="text-3xl font-bold text-center">2024 - now</p>
      </div>
      <div data-aos="fade-left" data-aos-delay="200">
        <p class="text-lg font-medium text-balance">
          Currently pursuing a degree in Graphic Design at the DaVinci School of
          Design and Technology, expanding my creative skillset and design
          expertise.
        </p>
      </div>
    </div>
  </div>
</section>
