---

---

<section
  id="work"
  class="flex flex-col justify-center items-center min-h-screen w-full bg-black py-16 px-4"
>
  <div class="max-w-7xl w-full flex items-center justify-center flex-col">
    <h1
      class="text-white text-5xl font-bold mb-12 text-center"
      data-aos="fade-down"
    >
      My Works
    </h1>
    <div class="grid grid-cols-5 grid-rows-5 gap-6 h-[500px] w-[75%]">
      <div
        data-aos="fade-right"
        data-aos-delay="200"
        class="col-span-3 row-span-3 rounded-2xl bg-zinc-900 border border-zinc-800 p-6 transition-all hover:border-zinc-600 flex items-center justify-center"
      >
        <p class="text-white text-2xl font-bold">Noseq</p>
      </div>
      <div
        data-aos="fade-right"
        data-aos-delay="400"
        class="col-span-3 row-span-2 col-start-1 row-start-4 rounded-2xl bg-zinc-900 border border-zinc-800 p-6 transition-all hover:border-zinc-600 flex items-center justify-center"
      >
        <p class="text-white text-2xl font-bold">Tryness</p>
      </div>
      <div
        data-aos="fade-left"
        data-aos-delay="600"
        class="col-span-2 row-span-5 col-start-4 row-start-1 rounded-2xl bg-zinc-900 border border-zinc-800 p-6 transition-all hover:border-zinc-600 flex items-center justify-center"
      >
        <p class="text-white text-2xl font-bold">Natvik</p>
      </div>
    </div>
  </div>
</section>
