---

---

<div
  class="flex flex-col justify-center h-screen max-w-[725px] py- mx-auto gap-2"
>
  <div>
    <div data-aos="fade-bottom" data-aos-delay="200">
      <h1 class="text-5xl font-bold font-inter py-3 text-pretty">
        Hello, Im <span
          data-aos="fade-left"
          data-aos-delay="300"
          class="text-blue-700">Ignacio Magurno</span
        >
      </h1>
    </div>
    <div data-aos="fade-bottom" data-aos-delay="200">
      <p class="text-pretty text-gray-500 text-xl max-w-[750px]">
        I transform digital products into compelling brand experiences that
        deliver impact
      </p>
    </div>
  </div>
  <div
    data-aos="fade-bottom"
    data-aos-delay="200"
    class="py-3 flex flex-row gap-3"
  >
    <a
      href="#contact"
      class="bg-black hover:bg-gray-800 cursor-pointer text-white px-3 py-3 rounded-md transition-all duration-300 transform hover:scale-105"
    >
      contact me!
    </a>
    <a
      class="bg-transparent cursor-pointer text-black px-3 py-3 rounded-md font-light hover:underline transition-all duration-300 transform hover:scale-105"
    >
      Resume
    </a>
  </div>
</div>
